@media (min-width:900px ) {
    body{
        background-color: #003882;
    }
    div.container{
        margin: auto;
    }
    h1.luz {
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        background-color: #003882;
    }
    div.formluz{
        border-style: outset;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        background-color:#003882;
        margin-left: 20%;
        margin-right: 20%;
    }
    .buttonluz {
        display: inline-block;
        padding: 9px 15px;
        font-size: 12px;
        cursor: pointer;
        text-align: center;	
        text-decoration: none;
        outline: none;
        color:black;
        background-color:  white;
        border: none;
        border-radius: 15px;
        box-shadow: 0 6px #999;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }  
    .buttonluz:hover {
        background-color: white;
    }  
    .buttonluz:active {
        background-color: white;
        box-shadow: 0 4px gray;
        transform: translateY(4px);
    } 
    select{
        -webkit-appearance: button;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        text-align: center;
    }
    input.cantKWM{
        -webkit-appearance: button;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        text-align: center;
    }
    div.formgas{
        border-style: outset;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }
    input.volumenm3{
        -webkit-appearance: button;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        text-align: center;
    }
    .buttongas{
        display: inline-block;
        padding: 9px 15px;
        font-size: 12px;
        cursor: pointer;
        text-align: center;	
        text-decoration: none;
        outline: none;
        color:black;
        background-color: white;
        border: none;
        border-radius: 15px;
        box-shadow: 0 6px gray;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    }
    .buttongas:hover{
        background-color: white;
    }
    .buttongas:active{
        background-color: white;
        box-shadow: 0 4px gray;
        transform: translateY(4px);
    }
    .restard {
        display: inline-block;
        padding: 9px 15px;
        font-size: 12px;
        cursor: pointer;
        text-align: center;	
        text-decoration: none;
        outline: none;
        color:black;
        background-color:  white;
        border: none;
        border-radius: 15px;
        box-shadow: 0 6px #999;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }  
    .restard:hover {
        background-color: white;
    }  
    .restard:active {
        background-color: white;
        box-shadow: 0 4px gray;
        transform: translateY(4px);
    } 
    div.botonrest{
        text-align: center;
    }
}
@media (max-width:900px ) {
    body{
        background-color: #003882;
    }
    div.container{
        margin: auto;
    }
    h1.luz {
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        background-color: #003882;
    }
    div.formluz{
        border-style: outset;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        background-color:#003882;
    }
    .buttonluz {
        display: inline-block;
        padding: 9px 15px;
        font-size: 12px;
        cursor: pointer;
        text-align: center;	
        text-decoration: none;
        outline: none;
        color:black;
        background-color:  white;
        border: none;
        border-radius: 15px;
        box-shadow: 0 6px #999;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }  
    .buttonluz:hover {
        background-color: white;
    }  
    .buttonluz:active {
        background-color: white;
        box-shadow: 0 4px gray;
        transform: translateY(4px);
    } 
    select{
        -webkit-appearance: button;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        text-align: center;
    }
    input.cantKWM{
        -webkit-appearance: button;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        text-align: center;
    }
    div.formgas{
        border-style: outset;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    input.volumenm3{
        -webkit-appearance: button;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        text-align: center;
    }
    .buttongas{
        display: inline-block;
        padding: 9px 15px;
        font-size: 12px;
        cursor: pointer;
        text-align: center;	
        text-decoration: none;
        outline: none;
        color:black;
        background-color: white;
        border: none;
        border-radius: 15px;
        box-shadow: 0 6px gray;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    }
    .buttongas:hover{
        background-color: white;
    }
    .buttongas:active{
        background-color: white;
        box-shadow: 0 4px gray;
        transform: translateY(4px);
    }
    .restard {
        display: inline-block;
        padding: 9px 15px;
        font-size: 12px;
        cursor: pointer;
        text-align: center;	
        text-decoration: none;
        outline: none;
        color:black;
        background-color:  white;
        border: none;
        border-radius: 15px;
        box-shadow: 0 6px #999;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }  
    .restard:hover {
        background-color: white;
    }  
    .restard:active {
        background-color: white;
        box-shadow: 0 4px gray;
        transform: translateY(4px);
    } 
    div.botonrest{
        text-align: center;
    }
}